#modalViewUser .detalhes-usuario
{
    padding: 0 0 0 20px;
    font-size: 12px;

}
.detalhes-usuario p
{
    margin: 0;
    padding: 0 0 0 5px;
    color: #707070;
}
div.modal-header
{
    padding: 25px;
    font-size: 22px;
    color: #707070;
}
.detalhe-item
{
    margin-bottom: 10px;
    padding-right: 100px;
}
.detalhe-item.localizacao
{
    display: flex;
    justify-content: space-between;
}
.detalhes-usuario .detalhe-label
{    
    color: #353535;
    font-weight: 500;
}
.modal-header h2
{
    font-size: 22px;
}