div #modalCreateUser 
{
    max-width: 100vw;
    width: 650px;
}
div #modalCreateUser.modal-dialog .modal-content
{
    border-radius: 0.7rem;
}
form 
{
    width: 85%;
    margin: auto;
}
.title-createUser 
{
    display: flex;
    flex-direction: row;
    padding: 25px 0px 15px 15px;
    border-bottom: 1px solid #EFEFEF;
}
.title-createUser div
{
    display: flex;
    flex-direction: row;
}
.form-group 
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 35px 0;
}