section.content 
{
    margin: auto;
    margin-top: 27px;
    width: 75vw;
    height: 400px;
    box-sizing: border-box;

    /* border: 1px solid black; */
}
section.content .campoPesquisa > input
{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
    padding: 12px 0 0 12px;
}
section.content .campoPesquisa > input:hover
{
    background: #FAFAFA;
}
section.content .campoPesquisa:active > input
{
    color: #458662;
    background: #EDFFF5;
    border-bottom: 2px solid #458662;
}

section.content .campoPesquisa i
{
    color: #707070;
    position: absolute;
    top: 93px;
    right: 13.7vw;
}
section.content .campoPesquisa:active > i
{
    color: #458662;
}
section.content .table-users
{
    text-align: left;
    color: #707070;
    font-size: 0.7rem;
    letter-spacing: 0.5px;
}
section.content .table-users thead
{
    background: #F2F2F2;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(0 0 0 / 0.02);
}
section.content .table-users tbody tr td 
{
    text-transform: uppercase;
}
td.td-actions 
{
    width: 110px;
    padding: .75rem .75rem .75rem .05rem;
}
td.td-actions > div
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btnCreate-and-pagination 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:16px 0;
}
.btnCreate-and-pagination  button 
{
    width: 241px;
    height: 37px;
    font-size: medium;
    background: #0094B7;
    color: #fff;
    border: none;
    border: 1px solid #0094B7;
    outline: none;
    border-radius: 2px;
}
.btnCreate-and-pagination  button:hover
{
    background: #0079A5;
    color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0079A5;
}

/* media */
@media(max-width: 1190px)
{
    section.content .table-users
    {
        font-size: 0.65rem;
    }
}
@media(max-width: 1135px)
{
    section.content .table-users
    {
        font-size: 0.6rem;
    }
}
@media(max-width: 1070px)
{
    section.content .table-users
    {
        font-size: 0.55rem;
    }
}