section.content 
{
    margin: auto;
    margin-top: 27px;
    width: 75vw;
    height: 400px;
    box-sizing: border-box;
}
.campoPesquisa i
{
    color: #707070;
    position: absolute;
    top: 93px;
    right: 13.7vw;
}

section.content .table-users
{
    text-align: left;
    color: #707070;
    font-size: 0.7rem;
    letter-spacing: 0.5px;
}
section.content .table-users thead tr
{
    background: #F2F2F2;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-weight: 500;
}

section.content .table-striped tbody tr:nth-of-type(odd){
    background-color: #FAFAFA;
}
.table-users tbody tr td 
{
    text-transform: uppercase;
}
tbody tr:first-child, tbody tr:last-child
{
    border-left: none;
}
.td-actions 
{
    font-size: 16px;
    width: 110px;
    padding: .75rem .75rem .75rem .05rem;
}
td.td-actions > div
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btnCreate-and-pagination 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:16px 0;
}
.msg-SemUsuarios
{
    text-align: center;
}

.table-pagination 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.selectPage
{
    cursor: pointer;
}

.currentPage
{
    text-align: center;
    width: 35px;
    background: #7070702b;
}
@media(max-width: 1190px)
{
    section.content .table-users
    {
        font-size: 0.65rem;
    }
}
@media(max-width: 1135px)
{
    section.content .table-users
    {
        font-size: 0.6rem;
    }
}
@media(max-width: 1070px)
{
    section.content .table-users
    {
        font-size: 0.55rem;
    }
}