.title-modalDelete
{
    padding: 15px 0 0 15px;
    font-size: 22px;
    color: #797979;
}
.body-modalDelete
{
    font-size: 18px;
    padding: 10px 0 25px 15px;
    color: #B1B1B1;
}
div.modal-header
{
    border-bottom: none;
}
div.modal-footer
{
    border-top: none;
    padding-bottom: 20px;
}