@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*, html {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root
{
  height: 100vh;
  color: #707070;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input, button
{
  outline: none;
  transition-duration: .3s;
}
input:hover input:focus,
input:focus,
input:active,
input:not(:placeholder-shown)
{
  background-color: #EDFFF5;
  border-bottom: 2px solid #458662;
  color: #458662;
}

input:focus+i,
input:active+i,
input:not(:placeholder-shown)+i
{
  color: #458662;
}

input
{
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 12px 0 0 12px;
}
input[type="checkbox"], input[type="radio"]
{
  min-width:15px;
  width: 10%;
}

input:hover:placeholder-shown:not(:focus)
{
  background: #FAFAFA;
}
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

button 
{
  padding: 4px 30px;
}
p{
  white-space: nowrap;
}
.icon 
{
  cursor: pointer;
}

.success 
{
  border: 1px solid #00B76A;
  background: #00B76A ;
  color: #FFF;
  border-radius: 3px;
}
.success:hover
{
  background: #00A560 ;
  box-shadow: 0px 3px 6px #00000029;
  border-color: #00A560;
}
.cancel
{
  border: 1px solid #00B76A;
  background: #FFF ;
  color: #00B76A;
  border-radius: 3px;
}
.cancel:hover
{
    background: #CEFFEA ;
    color: #00A560;
    border-color:#00A560;
}
.primary
{
  border: 1px solid #0094B7;
  background: #0094B7;
  color: #fff;
  border-radius: 3px;
}
.primary:hover
{
  background: #0079A5;
  color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #0079A5;
}

.group-Submit-Cancel 
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.group-Submit-Cancel .cancel
{
  margin-right: 30px;
}
.form-group 
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 35px 0;
}
