.modal-open
{
    height: 100vh;
}
div #modalCreateUser 
{
    max-width: 650px;
    min-width: 450px;
}
div #modalCreateUser.modal-dialog .modal-content
{
    border-radius: 0.7rem;
}
.title-createUser 
{
    display: flex;
    flex-direction: row;
    padding: 25px 0px 15px 15px;
    border-bottom: 1px solid #EFEFEF;
}
.title-createUser div
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.last-checkbox 
{
    margin: 40px 0;
    padding: 20px 0px;
    border-bottom: 1px solid #EFEFEF;
    border-top: 1px solid #EFEFEF;
}
.last-checkbox div
{
    display: flex;
    align-items: baseline;
}
.body-modalDelete
{
    font-size: 18px;
    padding: 10px 0 25px 15px;
    color: #B1B1B1;
}